<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>welcome everyone</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">welcome page</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
<ion-content class="card">
  <ion-title id="welcome">Welcome to my website</ion-title>
</ion-content>

<ion-content class="card">
  <ion-card-title>using ionic</ion-card-title>
</ion-content>