<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>welcome everyone</ion-title>
    <ion-buttons slot="end">
      <ion-button color="#3C7" (click)="signUp()">Sign Up</ion-button>
      <ion-button color="#3C7" (click)="login()">Login</ion-button>
      <ion-button color="#3C7" (click)="guest()">Login as guest</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="card">
  <ion-title id="welcome">Welcome to my website {{currentUser()}} </ion-title>
</ion-content>

<ion-content class="card">
  <ion-card-title>using enter name here</ion-card-title>
  <ion-input type="text" placeholder="enter name" [(ngModel)]="nameEntered"></ion-input>
  <ion-button (click)="saveName()" > Save</ion-button>
</ion-content>