<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Projects</ion-title>
    <ion-buttons slot="end" *ngIf="issignedIn()">
      <ion-button (click)="home()">Home</ion-button>
      <ion-button (click)="skills()">Skills</ion-button>
      <ion-button (click)="about()">About</ion-button>
      <ion-button (click)="logout()">Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>




<ion-content *ngIf="issignedIn() == false">
  <div id="loggedOut">
    <strong> I'm sorry It looks like you were signed out. </strong>
    <p>Please sign in</p>
    <ion-button (click)="logout()"> Enter </ion-button>
  </div>
</ion-content>

<ion-content *ngIf="issignedIn()">
  <div id="container">
    <ion-item  id="back">
      <ion-button (click)="office()"> Back to Office </ion-button>
    </ion-item>
    <div id="weather-container">
      <ion-input placeholder="Enter the city or zip code." [(ngModel)]="request"></ion-input>
      <div id="weather-results">

      </div>
      <div id="weather-controls">
        <ion-button (click)="getWeather(request)"> Search </ion-button>
        <ion-button (click)="getWeatherZip(request)"> Zip Code </ion-button>
        <ion-button (click)="clear()" > Clear </ion-button>
      </div>
    </div>

  </div>
</ion-content>
