<ion-header [translucent]="true">
  <ion-toolbar>
    
    <ion-buttons slot="end" *ngIf="issignedIn()">
      <ion-button (click)="home()">Home</ion-button>
      <ion-button (click)="skills()">Skills</ion-button>
      <ion-button (click)="projects()">Projects</ion-button>
      <ion-button (click)="logout()">Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>




<ion-content *ngIf="issignedIn() == false">
  <div id="loggedOut">
    <strong> I'm sorry It looks like you were signed out. </strong>
    <p>Please sign in</p>
    <ion-button (click)="logout()"> Enter </ion-button>
  </div>
</ion-content>

<ion-content *ngIf="issignedIn()">
  <div id="container">
    <div id="heading">
      <strong> Hi {{currentUser()}}. </strong>
      <p>Here is some more information about me</p>
      <ion-text> I have always been fascinated with computers and electronics. From a young age, I have always wanted to know how things work and would take apart various things. For the last few years, I have been learning different programming languages like Python, Java, Typescript, Javascript, and SQL. Recently, I have started working with an agile group to create a social media app to help unite people through shared interests.</ion-text>
    </div>
  
  </div>
</ion-content>
