
#skill-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 98vw;
    height: auto;
}

.skill-image {
    width: 400;
    height: 300px;
    margin: 20px;
}