ion-button {
  margin: 10px;
}

ion-card {
  margin: 20px;
}

.game-piece {
  width: 150px;
  height: 100px;
}

.player-option {
  width: 350px;
}

#selections {
  display: flex;
  height: auto;
  flex-wrap: wrap;
  justify-content: center;
}

#go-back {
  margin: 15px;
}

