<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Rock, Paper, Scissors Game
    </ion-title>

    <ion-buttons slot="end" *ngIf="issignedIn()">
      <ion-button (click)="home()">Home</ion-button>
      <ion-button (click)="skills()">Skills</ion-button>
      <ion-button (click)="about()">About</ion-button>
      <ion-button (click)="logout()">Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>




<ion-content *ngIf="issignedIn() == false">
  <div id="loggedOut">
    <strong> I'm sorry It looks like you were signed out. </strong>
    <p>Please sign in</p>
    <ion-button (click)="logout()"> Enter </ion-button>
  </div>
</ion-content>

<ion-content *ngIf="issignedIn()">
  <ion-button id="go-back" (click)="arcade()"> Back to Arcade </ion-button>
  <ion-text> Pick your player: Rock Paper or Scissors </ion-text>
  <div id="selections">
    <div class="player-option">
      <ion-button (click)="selectOption('rock')"> Rock</ion-button>
      <img class="game-piece" src="../../../../../assets/rockPaperScissors/rock.jpeg" alt="rock"/>
    </div>

    <div class="player-option">
      <ion-button (click)="selectOption('paper')">Paper</ion-button>
      <img class="game-piece" src="../../../../../assets/rockPaperScissors/paper.jpeg" alt="paper"/>
    </div>

    <div class="player-option">
      <ion-button (click)="selectOption('scissors')">Scissors</ion-button>
      <img class="game-piece" src="../../../../../assets/rockPaperScissors/scissors.jpeg" alt="scissors"/>
    </div>

  </div>
  <ion-card *ngIf="result">
    <ion-card-content>
      <h2>Result:</h2>
      <p>You chose: {{ playerChoice }}</p>
      <p>Computer chose: {{ computerChoice }}</p>
      <p>{{ result }}</p>
    </ion-card-content>
    <ion-footer>
      <ion-button (click)="resetGame()">Play Again</ion-button>
    </ion-footer>
  </ion-card>
</ion-content>
