<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> What is your name? </ion-title>
    <ion-buttons slot="end" *ngIf="issignedIn()">
      <ion-button color="#3C7" (click)="home()">Home</ion-button>
      <ion-button color="#3C7" (click)="logout()">Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="card"  *ngIf="issignedIn() == false">
  <div id="enter-name">
    <ion-card-title align="center"> Enter your name here </ion-card-title>
    <ion-input align="center" type="text" placeholder="enter name" [(ngModel)]="nameEntered"></ion-input>
    <ion-button (click)="guestLogin()" > Enter </ion-button>
    <ion-button (click)="cancel()" > Clear </ion-button>
  </div>
</ion-content>