<ion-header [translucent]="true">
  <ion-toolbar>
    
    <ion-buttons slot="end" *ngIf="issignedIn()">
      <ion-button (click)="home()">Home</ion-button>
      <ion-button (click)="skills()">Skills</ion-button>
      <ion-button (click)="about()">About</ion-button>
      <ion-button (click)="logout()">Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>




<ion-content *ngIf="issignedIn() == false">
  <div id="loggedOut">
    <strong> I'm sorry It looks like you were signed out. </strong>
    <p>Please sign in</p>
    <ion-button (click)="logout()"> Enter </ion-button>
  </div>
</ion-content>

<ion-content *ngIf="issignedIn()">
  <div id="container">
    <div id="heading">
      <strong> Hi {{currentUser()}}. </strong>
      <p>Welcome to the arcade</p>
      <a (click)="projects()"> click here to return to projects </a>
    </div>
    <a class="attraction" (click)="tictactoe()"> Tic-Tac-Toe </a>
    <a class="attraction" (click)="rockpaperscisors()"> Rock Paper Scisors </a>
    
  </div>
  
</ion-content>