<ion-header [translucent]="true">
  <ion-toolbar>
    
    <ion-buttons slot="end" *ngIf="issignedIn()">
      <ion-button (click)="home()">Home</ion-button>
      <ion-button (click)="skills()">Skills</ion-button>
      <ion-button (click)="about()">About</ion-button>
      <ion-button (click)="logout()">Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>




<ion-content *ngIf="issignedIn() == false">
  <div id="loggedOut">
    <strong> I'm sorry It looks like you were signed out. </strong>
    <p>Please sign in</p>
    <ion-button (click)="logout()"> Enter </ion-button>
  </div>
</ion-content>

<ion-content *ngIf="issignedIn()">
  <div id="back-drop">
    <header id="heading" align="right"> Welcome to TIC TAC TOE </header>
          <button id="reset" (click)="reset()"> Reset </button>
          <button id="go-back" (click)="arcade()"> Back to Arcade </button>
          <p id="message" align="right"> {{message}}</p>
          <p id="turn" align="right"> {{currentPlayer}}'s Turn</p>
          <div id="game-board" align="right">
              <div id="top-left" class="tile" (click)="makeMove('top-left')"> - </div>
              <div id="top-center" class="tile" (click)="makeMove('top-center')"> - </div>
              <div id="top-right" class="tile" (click)="makeMove('top-right')"> - </div>
              <div id="mid-left" class="tile" (click)="makeMove('mid-left')"> - </div>
              <div id="mid-center" class="tile" (click)="makeMove('mid-center')"> - </div>
              <div id="mid-right" class="tile" (click)="makeMove('mid-right')"> - </div>
              <div id="low-left" class="tile" (click)="makeMove('low-left')"> - </div>
              <div id="low-center" class="tile" (click)="makeMove('low-center')"> - </div>
              <div id="low-right" class="tile" (click)="makeMove('low-right')"> - </div>
          </div>
  </div>
</ion-content>
