#back-drop {
    background-image: url("../../../../../assets/backgrounds/tic-tac-toe-background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 98vw;
    height: auto;
    color: #FFF;
    font-size: large;
}

#heading {
    transform: translate(70px, 30px);
}

#turn {
    transform: translate(-50px, -20px);
}

#message {
    transform: translate(-50px, -20px);
}


#game-board {
    
    font-size: 25px;
    min-height: 400px;
    width: 70%;
    background-color: rgba(0, 0, 0, .1);
    display: grid;
    transform: translate(20%, -5%);
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 30% 30% 30%;
    grid-gap: 5%;
    grid-template-areas:
        "ul uc ur"
        "ml mc mr"
        "ll lc lr" ;

}

#result {
    background-color:#0C0;
    font-size: larger;
    color: #000;
}

#space{background: #000; grid-area: spc;}
#top-left{ grid-area: ul;}
#top-center{ grid-area: uc;}
#top-right{ grid-area: ur;}
#mid-left{ grid-area: ml;}
#mid-center{ grid-area: mc;}
#mid-right{ grid-area: mr;}
#low-left{ grid-area: ll;}
#low-center{ grid-area: lc;}
#low-right{ grid-area: lr;}

.tile {
    background: #777; 
    display:flex; font-size: 
    80px; align-items: center; 
    justify-content: center;
    color: #0C0;
}

.tile:hover {background: rgba(100, 100, 100, 0.4);}