<ion-header [translucent]="true">
  <ion-toolbar>
    
    <ion-buttons slot="end" *ngIf="issignedIn()">
      <ion-button color="#3C7" (click)="projects()">Projects</ion-button>
      <ion-button color="#3C7" (click)="skills()">Skills</ion-button>
      <ion-button color="#3C7" (click)="about()">About</ion-button>
      <ion-button color="#3C7" (click)="logout()">Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>




<ion-content *ngIf="issignedIn() == false">
  <div id="container">
    <strong> I'm sorry It looks like you were signed out. </strong>
    <p>Please sign in</p>
    <ion-button (click)="logout()"> Enter </ion-button>
  </div>
</ion-content>


<ion-content *ngIf="issignedIn()">
  <div id="container">
    <strong> Hi {{currentUser()}}. </strong>
    <p>Here are some popular attractions.</p>
  </div>
</ion-content>

<!--
<ion-content *ngIf="issignedIn()">
  <div class="attraction">
    <strong> Hi {{currentUser()}}. </strong>
    <p>Click here for a dead end</p>
    <img src="../../assets/shapes.svg"/>
  </div>
</ion-content>

<ion-content *ngIf="issignedIn()">
  <div class="attraction">
    <strong> Hi {{currentUser()}}. </strong>
    <p>Click here for more bs</p>
  </div>
</ion-content>

<ion-content *ngIf="issignedIn()">
  <div class="attraction">
    <strong> Hi {{currentUser()}}. </strong>
    <p>Click here for a dead end</p>
  </div>
</ion-content>

<ion-content *ngIf="issignedIn()">
  <div class="attraction">
    <strong> Hi {{currentUser()}}. </strong>
    <p>Click here for more bs</p>
  </div>
</ion-content>

<ion-content *ngIf="issignedIn()">
  <div class="attraction">
    <strong> Hi {{currentUser()}}. </strong>
    <p>Click here for a dead end</p>
  </div>
</ion-content>

<ion-content *ngIf="issignedIn()">
  <div class="attraction">
    <strong> Hi {{currentUser()}}. </strong>
    <p>Click here for more bs</p>
  </div>
</ion-content>
-->
